#frmBdr{
    /* border: 1px solid black; */
    height: 550px;
    width: 570px;
    position: absolute;
    margin-left: 350px;
    margin-top: 120px;
}

#frmSignIn{
    border: 1px solid black;
    position: absolute;
    margin-top: 10px;
    width: 550px;
    margin-left: 8px;
    height: 530px;
    box-shadow: 2px 3px 8px black;
    border-color: cornflowerblue;
}

body{
    background-color: whitesmoke;
}

#custhead{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

#txtemail{
    position: absolute;
    margin-top: 70px;
    width: 500px;
    margin-left: 10px;
}

#txtpass{
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    width: 500px;
}

#btnhaveacct{
    position: absolute;
    margin-top: 250px;
    margin-left: 120px;
    width: 300px;
    background-color: black;
    color: white;
}

#fp{
    position: absolute;
    margin-top: 300px;
    margin-left: 210px;   
}

#btnCreatAcct{
    position: absolute;
    margin-top: 343px;
    margin-left: 120px;
    width: 300px;
    background-color: black;
    color: white;
}